# Create dataset: Highest vs rest (high, medium, low, lowest)
* Under sampling the majority class.
* 50/50 balance per class.

In [1]:
file_path = '/fp/projects01/ec307/ec-krimhau/jira_datasets'
file_name = 'jira_clean_with_all_cols.csv'
full_path = f"{file_path}/{file_name}"

In [2]:
import pandas as pd
# Import csv file
df = pd.read_csv(full_path)
df

,priority,description,project,labels,issuetype,collection,class,text_str,text_clean
0,Blocker,We tried upgrading from Spring Boot 2.0.6 to S...,Spring XD,[],Bug,Spring,Highest,We tried upgrading from Spring Boot 2.0.6 to S...,we tried upgrading from spring boot to spring ...
1,Major,The jobs that appear under Executions section ...,Spring XD,[],Bug,Spring,Medium,The jobs that appear under Executions section ...,the jobs that appear under executions section ...
2,Trivial,Working with Spring-XD version 1.3.2.RELEASE\n...,Spring XD,[],Bug,Spring,Lowest,Working with Spring-XD version 1.3.2.RELEASE\n...,working with springxd version the server with ...
3,Major,My project 7 node cluster and in that 2 node a...,Spring XD,"['Spring', 'xd']",Bug,Spring,Medium,My project 7 node cluster and in that 2 node a...,my project node cluster and in that node are a...
4,Minor,See https://github.com/spring-projects/spring-...,Spring XD,[],Story,Spring,Low,See https://github.com/spring-projects/spring-...,NaN
...,...,...,...,...,...,...,...,...,...
1404240,Major,it is very beautiful.,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,it is very beautiful.,it is very beautiful
1404241,Major,library,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,library,NaN
1404242,Major,What is reactive-gremlin\r\n\r\nreactive-greml...,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,What is reactive-gremlin\r\n\r\nreactive-greml...,what is reactivegremlin reactivegremlin is a s...
1404243,Major,"Android view for a swipeable, weekly calendar.",Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,"Android view for a swipeable, weekly calendar.",android view for a swipeable weekly calendar
1404244,Major,"Beetlmvc is a web framework, which can support...",Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,"Beetlmvc is a web framework, which can support...",beetlmvc is a web framework which can support ...

In [3]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   960459
Low      271629
High      82646
Highest   56220
Lowest    33291

In [4]:
# NaN values
df.isnull().sum()

priority           0
description        0
project            0
labels             0
issuetype          0
collection         0
class              0
text_str           0
text_clean     34264
dtype: int64

In [5]:
# Drop NaN values
df = df.dropna()
df.isnull().sum()

priority       0
description    0
project        0
labels         0
issuetype      0
collection     0
class          0
text_str       0
text_clean     0
dtype: int64

In [6]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   933029
Low      267697
High      81404
Highest   55358
Lowest    32493

In [7]:
# Unique collections
df['collection'].unique()

array(['Spring', 'RedHat', 'Sakai', 'JiraEcosystem', 'Hyperledger',
       'Apache', 'SecondLife', 'IntelDAOS', 'Mindville', 'Sonatype'],
      dtype=object)

In [8]:
# make df with class and text_clean
df = df[['class', 'text_clean']]

In [9]:
highest_only = df[df['class'] == 'Highest']
highest_only["label"] = 1
highest_only["class_original"] = "Highest"
highest_only["class"] = "highest"
high = df[df['class'] == 'High']
medium = df[df['class'] == 'Medium']
low = df[df['class'] == 'Low']
lowest = df[df['class'] == 'Lowest']

/localscratch/492159/ipykernel_2180492/2035874565.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest_only["label"] = 1
/localscratch/492159/ipykernel_2180492/2035874565.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest_only["class_original"] = "Highest"
/localscratch/492159/ipykernel_2180492/2035874565.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest_only["class"] = "highest"

In [10]:
highest = pd.concat([highest_only, high])
highest["label"] = 1
highest

,class,text_clean,label,class_original
0,highest,we tried upgrading from spring boot to spring ...,1,Highest
13,highest,i download the spring xd example projects and ...,1,Highest
197,highest,several issues with staged version we now use ...,1,Highest
366,highest,building and then running springclouddatarest ...,1,Highest
510,highest,the abstractannotationmethodendpointmapping lo...,1,Highest
...,...,...,...,...
1402237,High,we have error on when we tried to close stagin...,1,NaN
1403170,High,hi ive released some artifacts via the usual s...,1,NaN
1403304,High,yesterday i released artifacts under group nam...,1,NaN
1403530,High,below is the error i got while running my proj...,1,NaN
1404022,High,i cant release this repository forbidden error...,1,NaN

In [11]:
# Concat all class except highest and high
rest = pd.concat([medium, low, lowest])
# Rename class to class_1
rest = rest.rename(columns={'class': 'class_original'})
rest["class"] = "rest" 
rest["label"] = 0
rest

,class_original,text_clean,class,label
1,Medium,the jobs that appear under executions section ...,rest,0
3,Medium,my project node cluster and in that node are a...,rest,0
5,Medium,im trying to run a job on springxd and the job...,rest,0
6,Medium,helloi have encountered following problem whil...,rest,0
8,Medium,hi we use spring config server with spring boo...,rest,0
...,...,...,...,...
1398225,Lowest,please close this issue i apologize everything...,rest,0
1401002,Lowest,following dependencies are not yet ready i alr...,rest,0
1402620,Lowest,requesting access to orggrails to be able to s...,rest,0
1403176,Lowest,im releasing my artifacts for the first time i...,rest,0
1403679,Lowest,hi i currently face an unauthorized exception ...,rest,0

In [12]:
# Value count rest class
rest['class_original'].value_counts().to_frame()

                 count
class_original
Medium          933029
Low             267697
Lowest           32493

In [13]:
from sklearn.utils import shuffle
# Number of rows in the highest class
n_highest = highest.shape[0]

rest_sampled = rest.sample(n=n_highest, random_state=42)  


balanced_data = pd.concat([highest, rest_sampled])

# Shuffle the combined dataset
balanced_data = shuffle(balanced_data, random_state=42)
balanced_data

,class,text_clean,label,class_original
255633,highest,we need to bump the version to example image e...,1,Highest
176892,High,right now it is almost impossible to create se...,1,NaN
1345439,rest,android photo picker,0,Medium
282421,High,create a maven assembly to produce a zip file ...,1,NaN
1039039,rest,with theres now support for a property names h...,0,Medium
...,...,...,...,...
951370,High,noformatnopaneltrueexternalstestspy fileextern...,1,NaN
630256,rest,running this program will throw a tableexcepti...,0,Medium
1271664,High,after creating new instance from bare karaf in...,1,NaN
990397,rest,fileinputdstream streaming ui s records should...,0,Low
1002076,High,pagerank input runs very slow and eventually f...,1,NaN

In [14]:
balanced_data['class'].value_counts().to_frame()

          count
class
rest     136762
High      81404
highest   55358

In [15]:
balanced_data

,class,text_clean,label,class_original
255633,highest,we need to bump the version to example image e...,1,Highest
176892,High,right now it is almost impossible to create se...,1,NaN
1345439,rest,android photo picker,0,Medium
282421,High,create a maven assembly to produce a zip file ...,1,NaN
1039039,rest,with theres now support for a property names h...,0,Medium
...,...,...,...,...
951370,High,noformatnopaneltrueexternalstestspy fileextern...,1,NaN
630256,rest,running this program will throw a tableexcepti...,0,Medium
1271664,High,after creating new instance from bare karaf in...,1,NaN
990397,rest,fileinputdstream streaming ui s records should...,0,Low
1002076,High,pagerank input runs very slow and eventually f...,1,NaN

In [16]:
# Count label
balanced_data['label'].value_counts().to_frame()

        count
label
1      136762
0      136762

In [17]:
# Count original class
balanced_data['class_original'].value_counts().to_frame()

                 count
class_original
Medium          103403
Highest          55358
Low              29743
Lowest            3616

In [18]:
balanced_data = balanced_data[['label', 'text_clean']]
balanced_data = balanced_data.rename(columns={'text_clean': 'text'})
balanced_data

         label                                               text
255633       1  we need to bump the version to example image e...
176892       1  right now it is almost impossible to create se...
1345439      0                               android photo picker
282421       1  create a maven assembly to produce a zip file ...
1039039      0  with theres now support for a property names h...
...        ...                                                ...
951370       1  noformatnopaneltrueexternalstestspy fileextern...
630256       0  running this program will throw a tableexcepti...
1271664      1  after creating new instance from bare karaf in...
990397       0  fileinputdstream streaming ui s records should...
1002076      1  pagerank input runs very slow and eventually f...

[273524 rows x 2 columns]

In [19]:
out_path = '/fp/projects01/ec307/ec-krimhau/jira_datasets/high_highest_vs_rest/highest_high_vs_rest_balanced_jira.csv'

In [20]:
# Save to csv
balanced_data.to_csv(out_path, index=False)

In [21]:
# Read csv
df = pd.read_csv(out_path)

In [22]:
df

        label                                               text
0           1  we need to bump the version to example image e...
1           1  right now it is almost impossible to create se...
2           0                               android photo picker
3           1  create a maven assembly to produce a zip file ...
4           0  with theres now support for a property names h...
...       ...                                                ...
273519      1  noformatnopaneltrueexternalstestspy fileextern...
273520      0  running this program will throw a tableexcepti...
273521      1  after creating new instance from bare karaf in...
273522      0  fileinputdstream streaming ui s records should...
273523      1  pagerank input runs very slow and eventually f...

[273524 rows x 2 columns]